*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color:black;
}

p, h1, h2, h3, h4,h5{
  color:white;
  font-size:200%;
}


p{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  gap:35px;
}


ul > li {
  color:white;
}


.app{
  display:flex;
  flex-direction: row;
  position:relative;
  z-index:1;
}



.logo{ 
  text-align: center;
  margin-bottom:25px;
  margin-top:20px;
}


.search-box{
  padding:20px;
  outline:none;
  width:500px;
  height:70px;
  font-size:large;
  border-radius: 40px;
  transition: all 0.5 linear;
}



.user-image{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-bottom:20px;
  
}

.main-container{
  display:flex;
  flex-direction: column;
  flex-basis:100%;
  position: relative;
}

.username{
  font-size:x-large;
  font-weight:bolder;
}

.sidebar{
  display:flex;
  flex-direction: column;
  padding:20px 0px 50px 50px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-right:100px;
  height:100vh;
  position:sticky;
  z-index:0;
}



.header{
    display:flex;
    justify-content: space-between;
    background-color: black;  
    flex-wrap: wrap;
    position:sticky;
    top:0;
    
    z-index:1;
    
}

.page-title, .search-container{
  margin:40px 0 20px 0;
}



.search-box{
  height:50px;
  margin-right:10px;
}

.add-watchlist{
  width:100px;
  height:50px;
}

.btn{
  display:block;
  
  cursor: pointer;
  font-size:24px;
  padding:10px;
  color:white;
  font-weight:lighter;
  outline:none;
  border: none;
  border-radius:5px;
}

.button-positive{
  background-color: green;
}

.button-negative{
  background-color: red;
}

.modal-footer{
  display:flex;
  justify-content: flex-end;
  gap:10px;
  overflow-wrap: break-word;
}




.search-button{
  
 vertical-align: middle;
    border-radius: 50%;
  border: 2px solid white;
  padding:15px;
  cursor: pointer;
  margin: 0 50px 0 0;
  
}




.anime-list{
  height:90%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}



.add-watchlist{
  border-radius: 8px;
  width:200px;
  background:gray;
  border:0;
  outline:none;
  font-size:21px;
  cursor: pointer;
}

.image-card{
  width:50%;
  
  image-rendering: pixelated;
}


.user{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:50px;
}

.line-break > hr{
  margin-top:30px;
  margin-bottom:40px;
  padding: 0 10px;
  background-color: gray;
  border-color:gray;
  width:200%;
  margin-left: -50%;
}

.second-nav{
  margin-top: 20px;
}



.modal{
  background-color: white;
  z-index:10;
  position: fixed;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  width:auto;
  
  border-radius:5px;
}

.modal-header{
  display:flex;
  padding:20px;
  align-items: center;
  justify-content:space-between;
}

.modal-body{
  border-top: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  padding:10px;

}

.close{
  font-size: 36px;
  
}

.close:hover{
  cursor: pointer;
}

.modal-footer{
  padding:30px;
  display:flex;

}

.modal > *, .modal-body > *, .modal-header > *{
  color:black; 
}

.modal-body > p{
  font-size:24px;
  padding:20px;
  overflow-wrap:break-word;
}

.backdrop{
  position:fixed;
  background-color:rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  top:0;
  right:0;
  opacity:70%;
  z-index:9;
}






.link-button{
  background:transparent;
  color:white;
  border:none;
  cursor: pointer;
  font-size:medium;
}

.image-clickable{
  width:50%;
  height:500px;
  cursor:pointer;
  background-image:url('../public/resources/placeholder-anime.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: red;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
}





 