a{
    text-decoration: none !important;
}

ul{
    list-style-type: none;
}

input{
    max-width: 500px !important;
    width:100%;
}

p{
    margin:0;
}

button{
    outline:none;
    background-color: transparent;
    border:0;
}


.navbar .nav-item {
    margin-right: 25px;
    margin-left: 25px;
}

.navigation-bar{
    display:flex !important;
    justify-content: center !important;
}

.profile-photo{
    border-radius: 50%;
}

.profile

.dropdown-menu{
    position: absolute;
}

.navbar-collapse{
    display: flex;
    flex-direction: column;
}


.card{
    margin-bottom:10px;
}

.social-media-sites i{
    font-size: 2em;
}

.social-media-sites span{
    font-size:1.5em;
}

.social-media-sites > a, .footer-nav ul > li{
    margin: 0 20px 0 20px;
}

.readlist-table-body{
    overflow-y: auto;
    overflow-x:hidden;
    height:500px;
}



