*{
    margin:0px;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
    color: white;
}

ul{
    list-style-type: none;
}

input{
    
    width:100%;
    margin:0;
}

p{
    margin:0;
}

button{
    outline:none;
    background-color: transparent;
    border:0;
}


body{
    background-color: #171529;
    margin:0;
}

input[type="checkbox"]{
    width:15px;
    height:15px;
}

.login-button{
    border: 4px solid #060513;
    width: 175px;
    padding:15px;
    color:white;
    background-color:#424056 !important;
}


.login-container{
    background:#232132;
}

.add-to-watchlist{
    background:#424056;
    border:5px solid #232131;
    
    
}

.header-navigation{
    background-color: #171529;
}


.navbar .nav-item {
    margin-right: 25px;
    margin-left: 25px;
}

.navigation-bar{
    display:flex !important;
    justify-content: center !important;
}

.profile-photo{
    border-radius: 50%;
}



.errorlist{
    list-style-type:circle;
}



.dropdown-menu{
    position: absolute;
}

.navbar-collapse{
    display: flex;
    flex-direction: column;
}


.card{
    margin-bottom:10px;
    background:#25203f;
    padding:25px;
    border-radius: 30px;
    z-index:0;
    box-sizing: border-box;
    position: relative;
}


.card:before{
    content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 5px;
  border-radius: 15px;
  background: linear-gradient(to right, #6d3594, #2f717e);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.featured-title, .search-bar{
    background:#25203f;
}



.search-bar{
    outline:none;
    border:0;
    padding:15px;
    
}








.social-media-sites i{
    font-size: 2em;
}

.social-media-sites span{
    font-size:1.5em;
}

.social-media-sites > a, .footer-nav ul > li{
    margin: 0 20px 0 20px;
}

.readlist-table-body{
    overflow-y: auto;
    overflow-x:hidden;
    height:500px;
}

.message-body{
    width:100%;
}

.message:hover{
    background-color: red;
}

.content-text{
    position: relative;
}

.register-form > div{
    width:100%;
}

.watchlist-controllers{
    display:flex;
    justify-content: center;
}

.buttonSwitch{
    display:inline-block;
    background:black;
    width:auto;
    border-radius: 35px;
}

.button-switch{
    padding:10px 30px;
    color:white;
    outline:none;
    border:0;
    border-radius: 35px;
}

.watchlist-button, .readlist-button{
    transition:.5s;
}

.watchlist-button{
    background:orange;
}









