<footer class="container-fluid d-flex flex-column align-items-center mt-5 mb-4 main-footer">

    
    
    <div class="social-media-sites">
        <span class="text-light">Follow Us:</span>
        <a href="#" >  <i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-discord"></i></a>
    </div>
    <hr>

    <nav class="footer-nav ">
        <ul class = "d-flex flex-row">
            <li><a href="#" >Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </nav>

    <div class="copyright text-light">
        &copy; 2020 - 2022 Project_Name&trade;
    </div>


</footer>