<!--- Header Start-->
<header class="d-flex  align-items-center p-1 sticky-top header-navigation ">
   

    <div class="container-fluid">
     <div class="d-flex align-items-center">
    <h1 class="mx-5 text-light"><a href="{% url 'Home' %}" class="navbar-brand">Logo
    </a></h1>

    <form action ="{% url 'Search' %}" method="GET" class="w-100">
        <input type="text" name="keyword" id="" class="form-control fa-thin fa-magnifying-glass search-bar w-50" placeholder="&#xf002 Search anime,manga or artist here..." style="font-family:Arial, FontAwesome"  />
    </form>
    </div>
    </div>


    

<!--- Navbar Start-->
    <nav class="navbar navbar-expand-lg  ms-auto align-items-center"> 

            <div class="container-fluid">
                
            
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navBarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                    <div class="collapse navbar-collapse " id="navBarSupportedContent">

                <ul class="navbar-nav ms-auto align-items-center text-center flex-column-reverse flex-md-row">

                      
                
                <li class="nav-item">
                <a href="{% url 'Home' %}" class="nav-link text-light">
                Home
                </a>
                </li>

                
            
                <li class="nav-item">
                    <a href="{% url 'AnimeList' %}" class="nav-link text-light">Top 100 Anime
                    </a>
                </li>            

                 <li class="nav-item">
                    <a href="{% url 'MangaList' %}" class="nav-link text-light">Top 100 Manga</a>
                </li>
                

                <li class="nav-item user-avatar dropdown">     
                  {% if request.user.is_authenticated %}
                    <button class="" data-bs-toggle="dropdown" type="button">
                      <img src="https://via.placeholder.com/75" alt="avatar" class="profile-photo" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end profile-menu-dropdown" role="profile-menu">
                      <li role="presentation" tabindex="-1"><a class="dropdown-item text-light" href="{% url 'SelfProfile' %}">My Profile</a></li>
                      <li role="presentation" tabindex="-1"><a href="{% url 'WatchList' request.user.id %}" class="dropdown-item text-light">My Watchlist</a></li>
                      <li><hr class="dropdown-divider text-light" /></li>
                      <li role="presentation" tabindex="-1"><a href="{% url 'Logout' %}" class="dropdown-item text-light">Logout</a></li>
                    </ul>
                    

                  {% else %}
                  <a class ="text-light" href="{% url 'Login' %}">Guest</a>
                  {% endif %}
                </li>
            
                </ul>
        
            </div>


            </div>
                       
    </div>   

        
    </nav>
<!--- Navbar End-->





<!---
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>-->




</header>
<!-- Header End-->