{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="container-fluid catalog-main-container">
<h1 class="header text-light mb-5">{% if list_type == 'anime' %}Anime{% elif list_type == 'manga' %}Manga{% endif %}</h1>
<section class="container-fluid catalog-container">

{% for lst in list %}

<figure class="content-card">
    {% if list_type == 'anime' %}
    
     {% if lst in user_list or lst in plan_list %}
            <a href="{% url 'AnimPage' lst.id %}" data-bs-toggle="tooltip" data-bs-html=true data-bs-placement="right" data-bs-title="test" class="thumbnail-image existed" style="background-image: linear-gradient(rgba(6,5,19,0.9), rgba(6,5,19,0.9)), url({{ lst.large_image }});"><h4>Already in your list!</h4></a>
        {% else %}
            <a href="{% url 'AnimPage' lst.id %}" class="thumbnail-image" style="background-image: url({{ lst.large_image }});"></a>
        {% endif %}
    
    {% else %}

        {% if lst in user_list or lst in plan_list %}
            <a href="{% url 'MangPage' lst.id %}"  class="thumbnail-image existed" style="background-image: linear-gradient(rgba(6,5,19,0.9), rgba(6,5,19,0.9)), url({{ lst.large_image }});"><h4>Already in your list!</h4></a>
            
        {% else %}
            <a href="{% url 'MangPage' lst.id %}" class="thumbnail-image" style="background-image: url({{ lst.large_image }});"></a>
        {% endif %}
    {% endif %}

    <div class="title-info-text">
    <h5 class="text-light content-title">{{ lst.title }}</h5>
    </div>
</figure>
{% endfor %}
</section>

{% include 'base/paginator.html' %}
</main>


{% endblock %}
{% block page_script %}
<script type="text/javascript" src="{% static 'js/catalog.js' %}"></script>
{% endblock %}