{% extends 'main.html' %}

{% block content %}
<main class="container-fluid catalog-main-container">
<h1 class="header text-light mb-5">{% if list_type == 'anime' %}Anime{% elif list_type == 'manga' %}Manga{% endif %}</h1>
<section class="container-fluid catalog-container">
{% for lst in list %}
<figure class="content-card">
    {% if list_type == 'anime' %}
    <a href="{% url 'AnimPage' lst.id %}"><img class="thumbnail-catalog" src="{{ lst.large_image }}" alt="{{ lst.title }}"/></a>

    {% else %}
    <a href="{% url 'MangPage' lst.id %}"><img class="thumbnail-catalog" src="{{ lst.large_image }}" alt="{{ lst.title }}"/></a>
    {% endif %}

    <div class="title-info-text">
    <h5 class="text-light content-title">{{ lst.title }}</h5>
    <p class="text-light">{% for gn in lst.genre.all %}{{ gn.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>
</figure>
{% endfor %}
</section>

{% include 'base/paginator.html' %}
</main>


{% endblock %}