{% extends 'main.html' %}

{% block content %}


<main class="container-fluid mt-5 p-5">
    <div class="row">
        <div class="col-md-7">


        <!--- Popular Anime-->
        <div class="row mb-5">
            <div class="d-flex flex-column">
                    <h3 class="text-light">Popular Anime</h3>

                    <div class="d-flex flex-row card-container">
                        {% for anime in animeOb %}   

                        {% if forloop.first %}
                        
                        <div class="card">

                        {% else %}
                        <div class="card mx-3">

                        {% endif %}

                        <a href="{% url 'AnimPage' anime.id %}">
                            <div class="d-flex flex-column">
                                    <img src="{{ anime.large_image }}" alt="Anime name here" class="img-fluid  rounded p-2 mx-auto home-thumbnail" />
                                    <div class="card-body">
                                        <h5 class="card-title text-light">{{ anime.title }}</h5>
                                        <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                            </a>
                        </div>

                        
                        {%  endfor %}
                 

                        

                    </div>
                </div>

        </div>

        <!--- Popular Manga -->
        <div class="row mb-5">
                <div class="d-flex flex-column">
                    <h3 class = "text-light">Popular Manga</h3>

                    

                    <div class="d-flex flex-row">
                        {% for manga in mangaOb %}    
                        {% if forloop.first %}
                        <div class="card">
                        {% else %}
                        <div class="card mx-3">
                        {% endif %}
                        <a href="{% url 'MangPage' manga.id %}">
                        <div class="d-flex flex-column">
                            <img src="{{ manga.large_image }}" alt="Anime name here" class="img-fluid rounded p-2 mx-auto home-thumbnail" />
                            <div class="card-body">
                                <h5 class="card-title text-light">{{ manga.title }}</h5>
                                <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        </a>
                        </div>

                  
                        {% endfor %}

                    </div>
                </div>

        </div>
        
        <!----- Popular Artist-->
        <div class="row mb-5">
                <div class="d-flex flex-column">
                    <h3 class="text-light">Popular Artist</h3>

                    <div class="d-flex flex-row">
                        
                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2 mx-auto" />
                                    <div class="card-body">
                                        <h5 class="card-title text-light">Anime Title Here</h5>
                                        <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card mx-3">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title text-light">Anime Title Here</h5>
                                        <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card mx-3">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title text-light">Anime Title Here</h5>
                                        <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>


                        

                    </div>
                </div>
        </div>

        <!--- Popular Studios -->
        <div class="row mb-5">
            <div class="d-flex flex-column">
                <h3 class="text-light">Popular Studio</h3>

                <div class="d-flex flex-row">
                    
                    <div class="card">
                        <div class="d-flex flex-column">
                                <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2 mx-auto" />
                                <div class="card-body">
                                    <h5 class="card-title text-light">Anime Title Here</h5>
                                    <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                        </div>
                    </div>

                    <div class="card mx-3">
                        <div class="d-flex flex-column">
                                <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2" />
                                <div class="card-body">
                                    <h5 class="card-title text-light">Anime Title Here</h5>
                                    <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                        </div>
                    </div>

                    <div class="card mx-3">
                        <div class="d-flex flex-column">
                                <img src="https://via.placeholder.com/200" alt="Anime name here" class="img-fluid h-auto w-100 rounded p-2" />
                                <div class="card-body">
                                    <h5 class="card-title text-light">Anime Title Here</h5>
                                    <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                        </div>
                    </div>


                    

                </div>
            </div>
        </div>

        </div>
        

        <!--- Gap -->
        <div class="col-md-1"></div>

        

        <!--- Featured Title-->
        <div class="col-md-4 p-5 border rounded-4 border-dark featured-title h-75">
            <div class="row">
                <div class="d-flex flex-column">
                    <h3 class="mb-5 text-light">Featured Titles</h4>
                    
                    {% for an in featured_title %}
                    <div class="card">
                        
                        <a href="{% url 'AnimPage' an.id %}">
                        <div class="row">
                        
                            <div class="col-md-4 my-auto">
                                <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid rounded p-2" />
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-light">{{ an.title }}</h5>
                                    <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                        </a>

                    </div>

                    {% endfor %}

                

                    

                </div>

            </div>
        </div>
</div>
</main>



{% endblock content %}

