{% extends 'main.html' %}

{% block content %}

<main class="container-fluid mt-5 p-5">
    <div class="row">
        <div class="col-md-8">

            <div class="row">

                <div class="d-flex flex-column">
                    <h3>Popular Anime</h3>

                    <div class="d-flex flex-row">
                        
                        <div class="card">

                            <a href="title-page.html">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                            </a>
                        </div>

                        <div class="card">

                            <a href="#">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                            </a>

                        </div>

                        <div class="card">
                            <a href="#">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                            </a>
                        </div>

                 

                        

                    </div>
                </div>

            </div>
            <!--- Popular Manga -->
            <div class="row">
                
                <div class="d-flex flex-column">
                    <h3>Popular Manga</h3>

                    <div class="d-flex flex-row">
                        
                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                  
                        

                    </div>
                </div>

            </div>

            <!----- Popular Artist-->
            <div class="row">
                <div class="d-flex flex-column">
                    <h3>Popular Artist</h3>

                    <div class="d-flex flex-row">
                        
                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="d-flex flex-column">
                                    <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid h-auto w-50 rounded p-2" />
                                    <div class="card-body">
                                        <h5 class="card-title">Anime Title Here</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                            </div>
                        </div>


                        

                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-4 p-5 border border-dark">
            <div class="row">
                <div class="d-flex flex-column">
                    <p>Featured Titles</p>
                    

                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 my-auto">
                                <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid rounded p-2" />
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Anime Title Here</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div class="col-4 my-auto">
                                <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid rounded p-2" />
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Anime Title Here</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div class="col-4 my-auto">
                                <img src="https://via.placeholder.com/150" alt="Anime name here" class="img-fluid rounded p-2" />
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Anime Title Here</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>

            </div>
        </div>

    </div>




</main>






{% endblock content %}