{% extends 'main.html' %}

{% block content %}
<main class="container-fluid login-container p-5 w-50 mt-5 mb-5 rounded-4">
{% if page == 'login' %}



<h1 class="text-light text-center ">Login to App_Name</h1>

    <form class="form-container d-flex flex-column align-items-center p-5" method="POST" action="">
        {% csrf_token %}

        <!--- Username login -->
        <div class="form-floating w-50 mb-3">
            <input type="text" class="username-login form-control" id="username-login" name="username-login" placeholder="Username"/>
            <label for="username-login text-dark">Username</label>
        </div>


        <!---- Password Login-->
        <div class="form-floating w-50 mb-3">
            
            <input type="password"  class="password-login form-control" id="password-login" name="password-login" placeholder="Password"/>
            <label for="password-login">Password</label>
        </div>

        <!---- Remmeber me checkbox-->
        <div class="mb-5 mt-3 ms-0 d-flex flex-row align-items-center align-self-center ">
            <label for="remember-login" class="text-light remember-me-label me-5">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me" class="ms-5">
        </div>


        <div class="mb-3 ">
            <button type="submit" class="login-button rounded-pill ">Login</button>
        </div>
        
        
    </form>
    <a href="{% url 'Register' %}" class="register-text d-block mx-auto text-center">Don't have an account?</a>




{% else %}

<h1 class="text-light text-center">Register an Account</h1>

{% if form.errors %}
<div class="error-box">
<p class="text-light text-center">The following error occured during registration:</p>

{% for err in form %}
 {% for error in err.errors %}
        <p class="text-light text-center">- {{ error|escape }}</p>
 {% endfor %}
{% endfor %}


</div>
{% endif %}






<form action="" method="post" class="form-container d-flex flex-column align-items-center p-5">
    {% csrf_token %}
    {% for fr in form %}
    <div class="form-floating mb-3 w-50 text-dark">
        {% if fr.name != 'tos' %}
        {{ fr }}
        
        <label for="" class="me-5">{{ fr.label }}</label>
        {% endif %}
    </div>
    {% endfor %}

    <div class="mb-5 mt-5">
    <label for="tos" class="text-light me-5">{{ form.tos.label }}</label>
    {{ form.tos }}
    </div>
    
    <div class="mb-3 ">
        <button type="submit" class="login-button rounded-pill ">Register</button>
    </div>
</form>

{% endif %}

</main>
{% endblock %}
