
<nav class="mt-5 paginator-nav">
    {% if list.has_previous  %}
    <div class="arrow-nav"><a href="?page={{list.previous_page_number}}" class="arrow-nav-link">&laquo;</a></div>

    {% else %}
    <div></div>
    

    {% endif %}

    <ul class="page-links">
    {% if list.number|add:'-4' > 1 %}
    <li><a href="?page={{list.number|add:'-5'}}" class='page-link'><i class="bi bi-three-dots"></i></a></li>
    {% endif %}

    {% for page in list.paginator.page_range %}

        {% if list.number == page %}
        {% comment %} Active Page {% endcomment %}
        <li><a class="active-page">{{page}}</a></li>


        {% elif page > list.number|add:'-5' and page < list.number|add:'5' %}
        <li><a class="page-link" href="?page={{page}}">{{ page }}</a></li>

        {% endif %}

        
    {% endfor %}



    {% if list.paginator.num_pages > list.number|add:'4' %}
    <li><a href="?page={{list.number|add:'5'}}" class='page-link'><i class="bi bi-three-dots"></i></a></li>
    {% endif %}

    

    </ul>
    {% if list.has_next %}
    <div class="arrow-nav"><a href="?page={{list.next_page_number}}" class="arrow-nav-link">&raquo;</a></div>

    {% else %}
    <div></div>
    {% endif %}
</nav>
