{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="container-fluid profile-container mt-5">
    <section class="col main-profile-section">
        <img src="{{userProfileObject.avatar_url}}" class="user-profile-photo"/>
        <h1 class="text-light">{{ userProfileObject.display_name }}</h1>
        <p class="text-light">{{ userProfileObject.intro }}</p>

        <a href="{% url 'EditProfile' %}" class="edit-profile">Edit Profile</a>

    </section>

    <section class="col userlist-container">

        <div class="watchlist-container">
            <h4 class="text-light">
                {{ userProfileObject.display_name}}'s Watchlist
            </h4>
            
            {% if watchlist.count > 0 %}
            <div class="watchlist">

                {% for wl in watchlist%}
                <figure class="mb-5">
                    <img src={{ wl.anime.large_image}}  class="list-thumbnail" />
                </figure>
                {% endfor %}

                
                

                
            </div>
            {% else %}
            <div class="empty-list-container">

                <figure class="empty-list">
                    <img src="{% static 'assets/empty.svg' %}" alt=""  class="empty-image" />
                    <p class="text-light text-center mt-3">Nothing to watch at the moment.</p>
                </figure>

            </div>
            {% endif %}
        </div>

        <div class="readlist-container">
            <h4 class="text-light">
                {{ userProfileObject.display_name}}'s Readlist
            </h4>

            {% if readlist.count > 0 %}
            <div class="readlist">
                {% for rl in readlist %}
                <figure class="mb-5">
                    <img src={{ rl.manga.large_image}} class="list-thumbnail" />
                </figure>
                {% endfor %}
            </div>
            {% else %}
            <div class="empty-list-container">

                <figure class="empty-list">
                    <img src="{% static 'assets/empty.svg' %}" alt=""  class="empty-image" />
                    <p class="text-light text-center mt-3">Nothing to read at the moment.</p>
                </figure>

            </div>

            {% endif %}

        </div>

        <div class="friendlist-container">
            <h4 class="text-light">
            {{ userProfileObject.display_name}}'s Friend List
            </h4>

            <div class="empty-list-container">


                <figure class="empty-list">
                    <img src="{% static 'assets/empty.svg' %}" alt="" srcset="" class="empty-image">
                    <p class="text-light text-center mt-3">Nothing to read at the moment.</p>
                </figure>

            </div>
        </div>

    
    </section>

    <aside class="col-3 activities-container">
        <h4 class="text-light text-center p-3">Recent Activities</h4>
        
        {% for act in activities %}
        <div class="activities-card m-4">

            <figure>
                <img src="{{ act.activity_thumbnail }}"  class="m-2 activity-thumbnail" />
            </figure>

            <div class="activities-text text-light my-auto">
                <h5>{{userProfileObject.display_name}}</h5>
                
                <p>{% if act.activity_status.status == "ACTIVE" and act.activity_type.type == "anime" %}starts watching 
                    {% elif act.activity_status.status == "ACTIVE" and act.activity_type.type == 'manga' %}starts reading
                    {% elif act.activity_status.status == "PLAN" %}
                    plans to {% if act.activity_type.type ==  'anime' %}watch {%else%}read {%endif%}

                    {% elif act.activity_status.status == "COMPLETED"%}
                    finished {% if act.activity_type.type == 'anime' %}watching {%else%}reading {%endif%}
                    {% endif %}</p>

                    <a href={% if act.activity_type.type == "anime" %}"{% url 'AnimPage' act.title_id %}"{% elif act.activity_type.type == 'manga'%}"{% url 'MangPage' act.title_id %}"{% endif %}>{{ act.title }}</a>
            </div>

        </div>
        {% endfor %}

    </aside>
</main>



{% endblock %}



