{% extends 'main.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<main class="container-fluid mt-5 p-5 watchlist-main-container">
    <div class="watchlist-controllers mb-5">
                 
            <div class="buttonSwitch">
                <button type="button"  id='watchlist-button' class='button-switch'>Watchlist</button>
                <button type="button" id='readlist-button' class="button-switch">Reading List</button>
            </div>

    </div>
    

    
    <div class="container-fluid watchlist-card-container" id="watchlist-card-container">
            {% if list %}
            {% for lst in list %}
            
            <div class="list-card text-light"> 
                {% if 'watchlist' in request.path %}
                {% if lst in planned_list %}
                <a href="{% url 'AnimPage' lst.anime.id %}" class="list-card-image thumbnail-image personal-list plan" style="background-image: url({{lst.anime.large_image}});">
                
                {% else %}
                <a href="{% url 'AnimPage' lst.anime.id %}" class="list-card-image thumbnail-image personal-list ongoing" style="background-image: url({{lst.anime.large_image}});">
                {% endif %}
            
            
                
            {% elif 'readlist' in request.path %}
            <a href="{% url 'MangPage' lst.id %}" class="list-card-image thumbnail-image personal-list" style="background-image: url({{lst.large_image}});">
            {% endif %}
            
                
            </a>
            
            <button id="boot-icon" class="bi bi-three-dots-vertical list-controller" style="font-size: 2rem; color: rgb(255, 0, 0);">
            </button>
            <div class="edit-watchlist-controller">
                <ul class="edit-watchlist-menu">

                    <li>
                        {% if 'watchlist' in request.path %}
                        <form method="POST" action="{% url 'plan' 'anime' lst.anime.id %}">
                        {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Move to plan to watch</button>

                        {% elif 'readlist' in request.path %}
                        <form method="POST" action="{% url 'plan' 'manga' lst.id %}">
                            {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Move to plan to read</button>
                        {% endif %}
                        </form>
                    </li>

                    <li>
                        
                        {% if 'watchlist' in request.path %}
                        <form method="POST" action="{% url 'finish' 'anime' lst.anime.id %}">
                            {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Move to completed list</button>

                        {% elif 'readlist' in request.path %}
                        <form method="POST" action="{% url 'finish' 'manga' lst.id %}">
                            {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Move to completed list</button>
                        {% endif %}

                        </form>
                    </li>

                    <li>
                        
                        {% if 'watchlist' in request.path %}
                        <form method="POST" action="{% url 'dropentry' 'anime' lst.anime.id %}">
                            {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Remove from my list</button>

                        {% elif 'readlist' in request.path %}
                        <form method="POST" action="{% url 'dropentry' 'manga' lst.id %}">
                            {% csrf_token %}
                        <button type="submit" class="list-controller-button text-light">Remove from my list</button>
                        {% endif %}

                        </form>
                    </li>

                    
                </ul>
            </div>
                <div class="title-info-text">
                    <h5 class="text-start">{{ lst.anime.title }}</h5>
                    <p class="text-start">{% for gn in lst.genre.all %}{{ gn.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                </div> 
            
            </div>
            {% endfor %}

            {% else %}
            <div class = "list-card text-light"><h1 class="text-light blank-list">You got nothing to read/watch at the moment.</h1></div>
            {% endif %}
    </div>
</main>



{{  request.user.id|json_script:'user_id'  }}

{% endblock %}

{% block page_script %}

<script type="text/javascript" src="{% static 'js/personal_list.js' %}"></script>

{% endblock %}

