{% extends 'main.html' %}

{% block content %}
{% csrf_token %}

<main class="container-fluid mt-5 p-5">
    <div class="watchlist-controllers">
                 
            <div class="buttonSwitch">
                <button type="button"  id='watchlist-button' class='button-switch'>Watchlist</button>
                <button type="button" id='readlist-button' class="button-switch">Reading List</button>
            </div>

    </div>

    <div class="watchlist-card-container">
            {% for lst in list %}
            <div class="card"> {{ lst.title }} </div>


            {% endfor %}
    </div>
</main>



{{  request.user.id|json_script:'user_id'  }}

{% endblock %}

