{% extends 'main.html' %}

{% block content %}
{% load base_extras %}
{% csrf_token %}

<main class="container-fluid mt-5 p-5">
    <div class="watchlist-controllers">
                 
            <div class="buttonSwitch">
                <button type="button"  id='watchlist-button' class='button-switch'>Watchlist</button>
                <button type="button" id='readlist-button' class="button-switch">Reading List</button>
            </div>

    </div>
    <h1 class="text-light">{{ request.path }}</h1>    

    
    <div class="watchlist-card-container" id="watchlist-card-container">
            {% for lst in list %}
            
            {% if request.path == concatenate_url:"/watchlist/"|concatenate_url:lst.id %}
            <h1>Hello</h1>
            {% endif %}
            <a href=""><div class="card text-light"> {{ lst.title }} </div></a>
            

            {% endfor %}
    </div>
</main>



{{  request.user.id|json_script:'user_id'  }}

{% endblock %}

